# ============================================
# Configurações do BIMU API Service
# ============================================

# Database
DATABASE_URL=
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# MinIO
MINIO_BROWSER_REDIRECT_URL=
MINIO_ENDPOINT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_USE_SSL=
MINIO_PORT=
MINIO_CONSOLE_PORT=

# API
API_PORT=
